//Colors
$green: #00FF00;
$black-green: #080D08;
$white-green: #E3FFE3;
$selected-gray-green: #2B352B;
$dark-gray-green: #192019;
$unselected-white-green: #839583;

//Spacing
$non-mobile-breakpoint: 768px;
$height: 140px;