#adjust-break {
    color: white;
    background-color: black;
    float: left;
    height: 8vw;
    width: 14%;
}

#adjust-session {
    color: white;
    background-color: black;
    float: left;
    height: 8vw;
    width: 14%;
}

#display {
    color: white;
    background-color: black;
    float: left;
    height: 8vw;
    width: 69%;
}

.hide {
    display: none;
}

h1 {
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}

label {
  margin-right: 10%;
}

output {
    color: green;
    display: block;
    float: right;
    text-align: center;
    width: 50%;
}

#stop {
    float: left;
    margin-left: 5%;
    margin-right: 35%;
    width: 10%;
}

#start {
    float: left;
    margin-left: 35%;
    margin-right: 5%;
    width: 10%;
}

#timer {
    border-radius: 10px;
    margin: 10vw auto;
    width: 60%;
}
