#adjust-break {
    border: 1px solid black;
    float: left;
    height: 6vw;
    width: 14%;
}

#adjust-session {
    border: 1px solid black;
    float: left;
    height: 6vw;
    width: 14%;
}

#display {
    border: 1px solid black;
    float: left;
    height: 6vw;
    width: 69%;
}

h1 {
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}

label {
  margin-right: 10%;
}

output {
    display: block;
    float: left;
    text-align: center;
    width: 50%;
}

#stop {
    float: left;
    margin-left: 5%;
    margin-right: 35%;
    width: 10%;
}

#start {
    float: left;
    margin-left: 35%;
    margin-right: 5%;
    width: 10%;
}

#timer {
    margin: 10vw auto;
    width: 60%;
}
