#Options {
    background-color: $black-green;
    border-radius: 10px 0 0 10px;
    color: $white-green;    
    float: left;
    font-size: 15px;
    height: $height;
    width: 22%;

    div:nth-of-type(1) {
        margin-top: 25px;
        margin-bottom: 22px;
        margin-right: auto;
        margin-left: auto;
        width: 75px;

        input {
            margin-left: 20px;
            position: relative;
            bottom: 8px;
        }
    }

    div:nth-of-type(2) {
        margin-top: 22px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 8px;
        width: 60px;

        input {
            margin-left: 10px;
            position: relative;
            bottom: 8px;
        }
    }

    // Custom styles for a checked input based off of design.
    input[type="radio"]:checked {
        -webkit-appearance: none;
        -moz-appearance: none;

        display: inline-block;
        width: 13px;
        height: 13px;
        border-radius: 50%;

        background-color: $green;

        &:disabled {
            background-color: darken($green, 30%);
        }
    }
}
