#Options {
    background-color: $black-green;
    border-radius: 10px 0 0 10px;
    color: $white-green;    
    float: left;
    font-size: 15px;
    height: $height;
    width: 22%;

    label {
        margin-left: 10%;
        margin-right: 2%;
    }
}